* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color:#0B2434;
}

.main-container {
    height: 60vh;
    width: 60vw;
    border-radius: 30px;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.die {
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.die-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
}

