* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color:#0B2434;
}

.main-container {
    height: 60vh;
    width: 60vw;
    border-radius: 30px;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.die {
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}

.die-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
}

.die-value {
    font-size: 2em;
    font-weight: 600;
}


.roll-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100px;
    background-color: #5035FF;
    color: white;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

.roll-btn:focus {
    outline: none;
}

.roll-btn:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}